.description {}

Text::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}

Text::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 4px;
}

Text::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

Text::-webkit-scrollbar-thumb:hover {
    background: #555;
}